header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    padding: 14px 40px;
}

.logo {
    height: 50px;
}

.nav {
    display: flex;
}

.nav > li > a {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;   

}

#title {
    background-image: url(./bg.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: right;
    flex-direction: column;
    /* ↑必要かチェック */
    color: azure;
}
/* titleの画像が画面サイズを変えた際に縮小等されず、画像の見え方が変わってしまっている? 。*/
.titlesentence  {
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    margin: 50px;
}

#profile>h3, #details>h3, #contact>h3, #message>h3 {
font-size: 40px;
text-align: center;
color: brown;
padding-top: 40px;
}

.contents>img{
    height: 150px;
}

.contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin: 40px auto;
}

.contentsinsidesentence{
 display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin: 20px ;
}

.contentsinsidesentence>h4 {
    font-size: 6px;
}

footer {
    text-align: center;
    background-color: brown;
    color: white;
    padding: 20px 0;
    margin-top: 100px;
    font-size: 20px;
}

.table {
     display: flex;
    flex-direction: column;
    justify-content: center;
}

table {
    margin: 20px;
    border-collapse: collapse;
    border: 2px solid rgb(140, 140, 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,tfoot {
    background-color: antiquewhite;
}

th,td {
    border: 1px solid rgb(160, 160, 160);
    padding: 8px 10px;
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237, 238, 242);
}


tfoot td {
    font-weight: bold;
}

.goPageTop {
    font-size: 50px;
    color: chocolate;
    font-weight: bolder;
    position: fixed;
    bottom: 70px; 
    left: 30px;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
}